---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Home from "../components/Home.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="<apsTris.dev>">
  <Header />
  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth"
  >
    <div class="snap-center">
      <!-- <Home /> -->
    </div>
    <div class="snap-center">
      <!-- <About /> -->
    </div>
    <div class="snap-center">
      <!-- <Projects /> -->
    </div>
    <div class="snap-center">
      <Contact />
    </div>
  </main>
</Layout>
