---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Home from "./Home.astro";
import About from "./About.astro";
import Projects from "./Projects.astro";
import Contact from "./Contact.astro";
---

<Layout title="<apsTris.dev>">
  <Header />
  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth"
  >
    <div class="snap-center">
      <Home />
    </div>
    <div class="snap-center">
      <About />
    </div>
    <div class="snap-center">
      <Projects />
    </div>
    <div class="snap-center">
      <Contact />
    </div>
  </main>
</Layout>
<!--  -->