<section
    id="about"
    class="bg-[#27272a] h-screen text-center relative overflow-hidden text-white"
>
    <header class="pt-40 z-40 relative">
        <h2 class="font-semibold">About</h2>
        <p>Desarrollador FullStack</p>
    </header>
    <footer>
        <a href=""></a>
    </footer>
</section>